PORT=5001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# MongoDB Atlas Connection URI
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/farmer-market-intelligence?retryWrites=true&w=majority
